body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    display: flex;
    justify-content: flex-start;
    background-color: #4ade80;
    width: 100%;
    height: 60px;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar a {
    text-decoration: none;
    color: #1c1c1e;
    padding: 10px 20px;
    margin-right: 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    background-color: #38b1b6;
}

.bi-bell {
    padding-left: 15px;
}

#menuestoque {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #1c1c1e;
    background-color: #4ade80; 
    border: none; 
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    appearance: none; 
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2012%2012%22%3E%3Cpath%20fill%3D%22%23000000%22%20d%3D%22M0%2C3L6%2C9L12%2C3H0Z%22%3E%3C/path%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px;
    width: 110px;
}

.content {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: #2c3e50;
    margin-bottom: 1.5rem;
    font-weight: 600;
    text-align: center;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 1.5rem;
    padding: 0.5rem;
    border: 1px solid #e0e0e0;
    border-radius: 0.25rem;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.search-bar input {
    flex-grow: 1;
    padding: 0.75rem;
    border: none;
    font-size: 1rem;
    outline: none;
}

.search-bar i {
    padding: 0 0.75rem;
    color: #7f8c8d;
}

.search-bar button{
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    transition: color 0.3s ease;
}

.search-bar button:hover {
    color: #007bff;
}

.product-list-container {
    width: 100%;
    margin-bottom: 1.5rem;
}

.product-table {
    width: 100%;
    background-color: white;
    border-radius: 0.25rem;
    padding: 1rem;
    margin-bottom: 0.75rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.product-table h2 {
    font-size: 1.2rem;
    color: #2c3e50;
    margin-bottom: 1rem;
    text-align: left;
    font-weight: 600;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table td {
    padding: 0.75rem;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
}

table td:last-child {
    text-align: right;
}

table td:nth-child(2),
table td:nth-child(3) {
    text-align: center;
}

.info-icon {
    color: #3498db;
    cursor: pointer;
    transition: color 0.3s ease;
}

.info-icon:hover {
    color: #217dbb;
}

.fa-trash-alt{
    color: #e74c3c;
    cursor: pointer;
    transition: color 0.3s ease;
}

.fa-trash-alt:hover {
    color: #c0392b;
}

.view-more {
    text-align: center;
    color: #666;
    margin-top: 1rem;
    cursor: pointer;
    transition: color 0.3s ease;
}

.view-more:hover {
    color: #007bff;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 2rem;
    border: 1px solid #e0e0e0;
    width: 90%;
    max-width: 500px;
    border-radius: 0.25rem;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.3s ease;
    text-align: left;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.modal-content h2 {
    color: #2c3e50;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.modal-details {
    display: flex;
    flex-direction: column;
}

.modal-detail {
    margin-bottom: 0.75rem;
    font-size: 1rem;
    color: #555;
}

.modal-detail label {
    font-weight: bold;
    margin-bottom: 0.25rem;
    display: block;
    color: #2c3e50;
}

.close-modal {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: #7f8c8d;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close-modal:hover,
.close-modal:focus {
    color: #34495e;
    text-decoration: none;
}

/* Estilos Responsivos */
@media (max-width: 768px) {
    .sidebar {
        flex-direction: column;
        align-items: flex-start;
    }

    .sidebar a {
        margin: 0.5rem 0;
    }

    #menuestoque {
        margin-top: 0.5rem;
        width: 100%;
    }

    .content {
        margin-top: 7rem;
        padding: 1rem;
    }

    .search-bar {
        flex-direction: column;
    }

    .search-bar input {
        margin-bottom: 0.75rem;
    }

    .modal-content {
        width: 95%;
        margin: 1rem auto;
    }

    .product-table {
        padding: 1rem;
    }
}

@media (max-width: 576px) {
    .sidebar {
        flex-direction: column;
        align-items: center;
    }

    .sidebar a {
        margin: 0.5rem 0;
    }

    #menuestoque {
        margin-top: 0.5rem;
        width: 100%;
    }

    .content {
        margin-top: 9rem;
        padding: 0.5rem;
    }

    .search-bar input {
        margin-bottom: 0.75rem;
    }

    .product-table {
        flex-direction: column;
        padding: 1rem;
    }

    .product-table h2{
        text-align: center;
    }

    table td:nth-child(2),
    table td:nth-child(3) {
        text-align: center;
    }
}